@import "./abstracts/_media.scss";
// STYLE FOR ORGCHART SETTINGS COMPONENT 

.settings {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 9000;
    height: 95%;
    border-radius: 0px 10px 0 0;
    width: 25%;

    @include mobile {
        width: 100%;
    }
}