.dtable-plugin.plugin-container {
  max-width: 954px;
}

.dtable-plugin.plugin-container .test-plugin-header {
  font-size: 24px;
}

.dtable-plugin.plugin-container .test-plugin-content {
  padding: 16px;
  max-height: 700px;
  overflow: auto;
}

/* bigger arrows for collapsing */
.node-button-div svg {
  width: 12px !important;
  height: 12px !important;
}
.node-button-div span {
  font-size: 14px;
}
